@import "tailwindcss";

:root {
  --color-primary: #45C4B0;
  --color-secondary: #9AEBA3;
  --color-accent: #13678A;
  --color-neutral: #DAFDBA;
  --color-dark: #012030;
}

@theme inline {
  --color-background: var(--color-dark);
  --color-foreground: var(--color-neutral);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #45C4B0;
    --color-secondary: #9AEBA3;
    --color-accent: #13678A;
    --color-neutral: #DAFDBA;
    --color-dark: #012030;
  }
}

body {
  background: #000;
  color: var(--color-neutral);
  font-family: Arial, Helvetica, sans-serif;
}